[Unit]
Description=Gunicorn instance to serve application
After=network.target
StartLimitIntervalSec=30
StartLimitBurst=10

[Service]
User=mm
Group=mm
WorkingDirectory=/home/mm/apache2
Environment="PATH=/home/mm/apache2/myenv/bin"
ExecStart=/home/mm/apache2/myenv/bin/gunicorn -c gunicorn.conf.py --bind 0.0.0.0:8000 app:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=on-failure

[Install]
WantedBy=multi-user.target
